
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>com.redwarfare</groupId>
		<artifactId>redwarfare-parent</artifactId>
		<version>dev-SNAPSHOT</version>
		<relativePath>pom.xml</relativePath>
	</parent>

	<properties>
		<dir>../out</dir>
		<redispass>REDISPASS</redispass>
		<redisurl>REDISURL</redisurl>
		<sqlhost>SQLHOST</sqlhost>
		<sqlport>SQLPORT</sqlport>
		<sqldb>SQLDB</sqldb>
		<sqluser>SQLUSER</sqluser>
		<sqlpass>SQLPASS</sqlpass>
	</properties>

	<artifactId>redwarfare-plugin</artifactId>
	<packaging>pom</packaging>

	<build>
		<resources>
			<resource>
				<directory>/</directory>
				<filtering>true</filtering>
				<includes>
					<include>plugin.yml</include>
				</includes>
			</resource>
		</resources>
		<plugins>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-jar-plugin</artifactId>
				<configuration>
					<outputDirectory>${dir}</outputDirectory>
				</configuration>
			</plugin>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-shade-plugin</artifactId>
				<executions>
					<execution>
						<phase>package</phase>
						<goals>
							<goal>shade</goal>
						</goals>
						<configuration>
							<filters>
								<filter>
									<artifact>${project.groupId}:redwarfare-global</artifact>
									<excludes>
										<exclude>me/libraryaddict/redis/RedisManager.class</exclude>
										<exclude>me/libraryaddict/mysql/MysqlManager.class</exclude>
										<exclude>me/libraryaddict/redis/RedisManager$1.class</exclude>
										<exclude>me/libraryaddict/mysql/MysqlManager$1.class</exclude>
									</excludes>
								</filter>
							</filters>
						</configuration>
					</execution>
				</executions>
			</plugin>
			<plugin>
				<groupId>org.codehaus.mojo</groupId>
				<artifactId>templating-maven-plugin</artifactId>
				<version>1.0.0</version>
				<executions>
					<execution>
						<id>filter-src</id>
						<goals>
							<goal>filter-sources</goal><!-- add this if you filter main sources -->
						</goals>
						<configuration>
							<sourceDirectory>../redwarfare-global/java-templates/</sourceDirectory>
						</configuration>
					</execution>
				</executions>
			</plugin>
		</plugins>
	</build>
</project>
